*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* display: flex;
    height: 100vh;
    justify-content: center;
    align-items: top;
    background: linear-gradient(135deg, #71b7e6, #9b59b6); */
}

